@use '@/styles/variables' as *;

.containerNewsletter{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    background-color: $purple;
    margin-top: 90px;
    flex-wrap: wrap;
            color: $white;
    gap: 20px;

    .containerTexts{
        max-width: 515px;

        .title{
            font-size: 32px;
            font-weight: 600;
        }
        .text{
            font-size: 14px;
            font-weight: 300;
        }
    }

    .containerFields{
        display: flex;
        gap: 8px;
        padding-bottom: 8px;
        flex-wrap: wrap;

        .field{
            padding: 12px 24px;
            border-radius: 8px;
            border: 1px solid #E7E7E7;
            outline: none;
        }
    }

    .containerCheckbox{
        display: flex;
        gap: 4px;
        align-items: center;

        label{
            cursor: pointer;
        }
    }
    
}

@media (max-width: 768px) {
    .containerNewsletter{
        padding: 20px;
    }
}