@use '@/styles/variables' as *;

@mixin padding{
    padding-bottom: 32px;
}

.background{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.modal{
    border: none;
    border-radius: 6px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    .closeBtn{
        width: 100%;
        text-align: end;
        padding: 17px 29px;
        background-color: transparent;
        border: none;

    }

    .productImg{
        max-width: 247px;
        max-height: 192.2px;
        padding-left: 56px;
    }
    
    .containerModal{
        display: flex;
        justify-content: center;
        gap: 87px;
        width: 100%;
        height: 100%;

        .containerProductDetails{
            display: flex;
            flex-direction: column;
            padding-bottom: 26.4px;
            padding-right: 51px;

            .name, .productPrice{
                font-size: 20px;
                color: $darkGray;
            }
            
            .productPrice{
                font-weight: bold;
                padding-top: 18px;
                @include padding;
            }

            .productDetails{
                font-size: 10px;
                max-width: 290px;
                padding-bottom: 10px;
            }
            .detailsBtn{
                background-color: transparent;
                border: none;
                color: $blue;
                text-align: left;
                @include padding;
            }
            .containerProductBtns{
                display: flex;
                justify-content: center;
                gap: 12px;

                .containerAmountProduct{
                    border: 1px solid #D9D9D9;
                    border-radius: 4px;
                    padding: 10px;
                    display: flex;
                    gap: 17px;

                    .btnLess, .btnMore{
                        background-color: transparent;
                        border: none;
                    }

                    .textAmount{
                        font-size: 16px;
                        font-weight: 500;
                        color: $purple;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .modal{
        width: 90%;

        .productImg{
            padding: 0;
        }
        .containerModal{
            flex-direction: column;
            align-items: center;

            .containerProductDetails{
                padding-right: 0;

                .name, .productPrice{
                    font-size: 18px;
                }

                span, .detailsBtn{
                    text-align: center;
                }

                .containerProductBtns{
                    flex-wrap: wrap;
                }
            }
        }  
    }
}